.light-mode {
  --background-color: #fff;
  --text-color: #000;
  --card-background: #fff;
  --card-border-color: #333;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #fff;
  --card-background: #2c2c2c;
  --card-border-color: #444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttonTheme{
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--card-border-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  padding: 2.5em;
  background-color: var(--card-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.profilPokemon {
  border: 2px solid var(--card-border-color);
  border-radius: 10px;
  background-color: var(--card-background);
  padding: 20px;
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.listStats {
  list-style-type: none;
  padding: 0;
}

.cardPokemon {
  cursor: pointer;
  border: 1px solid var(--card-border-color);
  padding: 15px;  
  margin: 10px;  
  background-color: var(--card-background);  
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cardPokemon:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

img {
  width: 200px;
  height: 200px;
}

.profilPokemon img {
  width: 300px;
  height: 300px;
}
